/* Suas estilizações */

.content {
    width: 640px;
    margin: auto;
  }
  
  .content-wrap {
    text-align: center;
    color: white;
    font-weight: bold;
    background: #2828c7d3;
  }
  .flex-container{
    display: flex;
  }

  .esquerdo{
    margin-left: 150px;
  }

  section{
    margin-top: 40px;
  }